[Unit]
Description = Magic frame daemon.
After = network.target, multi-user.target

[Service]
WorkingDirectory=/home/admin/magic_frame/src/
ExecStart = .venv/bin/python3 main.py

[Install]
WantedBy = multi-user.target